

.item{
  min-height:  40rem;
  min-width:  30%;
  padding:  40px;
}

.item img{
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel {
  display:  flex;
  background: lightblue;
}

.carousel {
  cursor:  grab;
  overflow: hidden;
  background: orangered;
}